.selected {
    background-color: whitesmoke;
}

table thead {
    background-color: #1E90FF1F;
}

tbody tr:hover {
    cursor: pointer;
    background-color: whitesmoke;
}

.badge-lightblue {
    background-color: #1E90FF1F;
}

.nested-input {
    border-radius: 0.25rem 0 0 0.25rem !important;
}

.nested-button {
    border-radius: 0 0.25rem 0.25rem 0;
}

.mh-90{
    max-height: 90% !important;
}

.asset-table-row {
    height: 440px;
}

.tooltiptd{
    display: none;
    position: absolute;
    left: 26%;
    background-color: dimgray;
    color: white;
    border-radius: 8px;
    opacity: 0.9;
}


tbody tr:hover > .tooltiptd {
    display: block;
}