.layout-container {
}

.layout-container-row {
    height: 100vh;
}

.layout-container-contents {
    padding: 0px !important;
}

.layout-sidepanel {
}

.layout-sidepanel-banner {
    box-shadow: 0px 10px 10px #7F7F7F1F;
}
