.settings-item-row {
    padding: 0.5rem 1rem !important;
    border-bottom: 1px solid whitesmoke;
}

.settings-item-row:hover {
    background-color: #f0f0f0;
}


.settings-item-row:active {
    background-color: #dbdbd9;
}

.settings-item-col {
    display: flex;
    align-items: center;
    padding: 0px !important;
}

.settings-list-column {
    display: flex;
    padding: 0px !important;
    flex-direction: column-reverse;
}