.route-config,
.route-config > .row,
.route-config > .row > *:last-child {
    height: 100%;
}

  .route-config > .row > * {
      display: flex;
      flex-direction: column;
  }

.route-table {
    min-height: 0;
}

  .route-table,
  .route-table > * {
      max-height: 100%;
   }

.aspect-box {
    padding-top: 100%;
    position: relative;
}

  .aspect-box > * {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position: absolute !important;
  }

.route-modal.modal-dialog {
    margin: 0;
    height: 100%;
    max-width: none;
}

.route-modal .modal-content {
    height: 100%;
    overflow: auto;
    padding: 2.5rem;
}

.route-modal .modal-body {
    min-height: 0;
    overflow: auto;
}